/* HTML elements */

	body {
		margin: 0 auto;
		/* font-family: Georgia, Times, "Times New Roman", SimSun, "宋体", serif; */
		font-family: sans-serif;
		font-size: 12pt;
	}

	p {
		margin: 50px 25px;
		font-size: 20px;
	}

/* Basic styles */

	img.responsive {
		width: 100%;
		height: auto;
	}

	/* button */
	.btn {
		display: block;
		width: 30%;
		padding: 0.8em 1.6em;
		box-sizing: border-box;
		border: none;
		border-radius: 1.3em;

		background-color: #fc752c;
		color: white;
		font-size: 1em;
		text-decoration: none;
		text-align: center;

		cursor: pointer;
	}
	.btn:hover {
		background-color: #ddd;
		color: black;
	}

	span.sticky {
		display: inline-block;
	}

	.ellipse {
		white-space: nowrap;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
	}

/* Layout */

	.main-container {
		/* z-index: -1; */
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
	}

	.container {
		padding: 0px 12vw;
	}

	/* Navigation Menu */
	nav.main {
		width: 100%;
	}
	nav.main ul {
		width: 100%;
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
		margin: 0;
		background: #fff;
	}
	nav.main li {
		display: block;
		margin: 1em;
	}
	nav.main a {
		display: block;
		text-decoration: none;
		color: #999999; /* grey by default */
		padding: 0.5em 0;
	}
	nav.main svg {
		vertical-align:text-bottom;
		width: 1.2em;
		height: 1.2em;
		fill: currentColor; /* match icon color with text */
	}
	nav.main hr {
		/* thick grey rounded underline */
		margin: 0;
		padding: 0;
		height: 4px;
		border: 0;
		border-radius: 2px;
		background: #ccc;
	}
	nav.main li.active a {
		/* active tab will have black text and orange underline */
		color: #000000;
	}
	nav.main li.active hr {
		background: #fc752c;
	}
	nav.main li:hover a {
		/* all black when hover */
		color: #000000;
	}
	nav.main li:hover hr {
		background: #000000;
	}

	header h1 {
		text-align: center;
		padding: 0;
		font-size: 1.6em;
		font-weight: 400;
		margin: 1em 0;
	}

	footer {
		/* remove white space with flex */
		display: flex;
		/* move up a little */
		margin-top: -10vw;
		/* send it to the bottom layer */
		z-index: 0;
	}

/* Video guide */

	.wrapper {
		display: flex;
		justify-content: space-between;

		border: 1px solid #e1e3e4;
		border-radius: 4px;
		padding: 20px 20px;
	}

	#main-video {
		width: 70%;
		margin: auto;
		order: 1;
	}

	#video-frame {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
	}
	#video-frame iframe,
	#video-frame object,
	#video-frame embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#playlist {
		width: 30%;
		height: 380px;
		overflow: auto;
		margin-right: 20px;
		scroll-behavior: smooth;
	}

	article {
		display: flex;
		align-items: center;
		padding: 8px;
		margin: 2px;
		cursor: pointer;
	}

	.playlist_active {
		background: #e5e5e5;
	}

	article:hover {
		background: #e5e5e5;
	}

	.thumb {
		width: 100px;
		height: auto;
	}

	.details {
		font-size: 0.85em;
		padding: 0 15px;
	}

	.details h4 {
		color: grey;
		/* font-size: 0.8rem; */
		-webkit-line-clamp: 2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		white-space: normal;
		overflow: hidden;
		margin-top: 10px;
	}

	.details p {
		color: grey;
		font-size: 0.8rem;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		white-space: normal;
		overflow: hidden;
		margin: 0px !important;
	}

	@media (max-width: 1140px) {
		article {
			flex-direction: column;
		}

		.details {
			padding: 8px;
			text-align: center;
		}

		.thumb {
			width: 100%;
			height: auto;
		}
	}

	@media (max-width: 960px) {
		.wrapper {
			display: block;
			border-radius: 4px;
		}

		#main-video {
			width: 100%;
			margin-bottom: 20px;
		}

		#playlist {
			width: 100%;
		}

		article {
			flex-direction: row;
		}

		.thumb {
			width: 100px;
		}
	}

	#playlist::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	#playlist::-webkit-scrollbar-thumb {
		background: #B3AFB3;
		border-radius: 8px;
	}

	#playlist::-webkit-scrollbar-thumb:hover {
		background: #B3AFB3;
	}

	#playlist::-webkit-scrollbar-track {
		background: #F0F0F0;
		border-radius: 8px;
		box-shadow: inset 0px 0px 0px 0px #F0F0F0;
	}

/* Guide pages */

	/*
		On desktop:
		- center cover
		- 2 pages per row (a spread)
		- drop shadow on spread
		- gradient overlay on right page

		On mobile:
		- 1 page per row (no spread)
		- drop shadow on page
		- no gradient overlay
	*/
	.page-container {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 2em;
	}
	.page-container .spread {
		display: flex;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
		margin-bottom: 2em;
		width: 100%;
	}
	.page-container .page {
		display: flex;
		width: 50%;
		height: auto;
		position: relative;
	}
	.page-container .page img {
		width: 100%;
		height: auto;
	}
	.page-container .page:nth-child(2n)::after {
		/* gradient overlay */
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;
		width: 50px;
		height: 100%;
		display: block;
		background: none;
		background: linear-gradient(90deg, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 100%);
	}

	/* the cover, make it center */
	.page-container .spread:first-child {
		margin-left: 25%;
		margin-right: 25%;
	}
	.page-container .spread:first-child .page {
		width: 100%;
	}

	/* download PDF button */
	.btn-download {
		text-align: center;
		width: 100%;
		margin: 0 auto 2em;
	}
	.btn-download .btn {
		margin: 0 auto;
		width: 30%;
		min-width: 14em;
		box-sizing: border-box;
	}


/* Mobile */
@media screen and (max-width: 640px) {
	.container {
		padding: 0px 5vw;
	}

	header>img.responsive {
		object-fit: cover;
		object-position: center;
		height: 150px;
	}

	/* make it a floating menu */
	nav.main {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 100;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	}

	/* reset spreads */
	.page-container .spread {
		box-shadow: none;
		flex-wrap: wrap;
		margin: 0;
	}
	.page-container .spread:first-child {
		margin-left: 0;
		margin-right: 0;
	}

	/* drop shadow on pages instead of spreads */
	.page-container .page {
		width: 100%;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
		margin-bottom: 1em;
	}

	/* hide gradient */
	.page-container .page:nth-child(2n)::after {
		display: none;
	}

	/* make space for floating menu */
	footer {
		margin-bottom: 4em;
	}
}